// Body
$body-bg: #F8F9FD;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-primary: 'Lato',Arial, sans-serif;

// Colors
$primary: rgb(14,0,255);
$secondary_gray: #464646;
$black: #383838;


$theme-colors: (
    "primary": rgb(14,0,255),
    "danger": #ff4136
);

// Nav
$navlink-margin: 8px;
