// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~vuetify/dist/vuetify.min.css";

// SCSS Files
@import 'variables';
@import 'mixins';
@import 'utilities';
@import 'buttons';
@import 'sections';


// Typography
.main-header {
    color: $black;
    font-size: 56px;
    font-weight: 900;
    margin-top: 30px;
    letter-spacing: 1px;
    @include media-breakpoint-down(sm) {
        font-size: 32px;
    }
}

.main-subheader {
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
    color: $secondary_gray;
    letter-spacing: 1px;
    line-height: 1.3;
    @include media-breakpoint-down(sm) {
        font-size: 18px;
    }
}

.section-subheader{
    font-weight: 700;
    font-size: 30px;
    color: $secondary_gray;
    letter-spacing: 1px;
    line-height: 1.3;
    @include media-breakpoint-down(sm) {
        font-size: 18px;
    }
}

.section-content{
    font-weight: 400;
    font-size: 16px;
    color: $secondary_gray;
    letter-spacing: 1px;
    line-height: 1.3;
    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }
}

.section-header {
    margin-top: 10px;
    font-weight: 700;
    font-size: 42px;
    color: $black;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    margin-bottom: 70px;

    &:before {
        content: '';
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 91px;
        height: 8px;
        background-color: $primary;
    }

    @include media-breakpoint-down(sm) {
        font-size: 32px;

        &:before {
            top: 60px;
        }
    }
}

.card-title {
    font-size: 24px;
    font-weight: bold;
}


// Global
body {
    font-family: $font-primary;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: $body-bg;
    color: lighten($black, 50%);
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: $primary;
    color: $white;
}

// Navigation
.container:first-of-type {
    padding-left: 0px;
    padding-right: 0px;
}

.header-wrapper {
    background-image: url('/storage/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center -50px;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);

    nav {
        path {
            fill: $primary;
        }
        .nav-link {
            margin-left: $navlink-margin;
            margin-right: $navlink-margin;

            &:hover {
                color: $primary !important;
            }
        }
    }

    .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $body-bg;
        opacity: 0.8;
    }
    //
    //&:before {
    //    content: '';
    //    position: absolute;
    //    bottom: 0;
    //    left: 0;
    //    width: 100%;
    //    height: 130px;
    //    background: $body-bg;
    //    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    //}
}




.bg-primary {
    background: $primary !important;
}

.ftco-section {
    padding: 7em 0;
}

.ftco-no-pt {
    padding-top: 0;
}

.ftco-no-pb {
    padding-bottom: 0;
}

//HEADING SECTION
.heading-section {
    font-size: 28px;
    color: $black;
}

header button {
    margin-bottom: 210px;
}

.wrap {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.text-wrap, .login-wrap {
    width: 50%;
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.text-wrap {
    @include gradient-background();
    color: $white;

    .text {
        h2 {
            font-weight: 900;
            color: $white;
        }
    }
}

.login-wrap {
    position: relative;

    h3 {
        font-weight: 300;
    }
}


.form-group {
    position: relative;

    .label {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $black;
        font-weight: 700;
    }

    a {
        color: lighten($black, 50%);
    }
}

//FORM CONTROL
.form-control {
    height: 48px;
    background: rgba(0, 0, 0, .05);
    color: $black;
    font-size: 16px;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    @include transition();

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(0, 0, 0, .2) !important;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(0, 0, 0, .2) !important;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(0, 0, 0, .2) !important;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: rgba(0, 0, 0, .2) !important;
    }

    &:focus, &:active {
        outline: none !important;
        box-shadow: none;
        background: rgba(0, 0, 0, .07);
        border-color: transparent;
    }
}

.v-application--wrap {
    background-color: $body-bg;
    min-height: 0;
}

section:first-of-type {
    margin-top: -80px;
}

section {
    margin-bottom: 48px;
}

.julia-shadow {
    @include julia-shadow();
}


.text-primary {
    color: $primary !important;
}
